<div class="container">

	<h1><%= (t :contents).capitalize %></h1>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="visible-lg visible-md visible-sm text-center"><%= (t :id).uppercase rescue 'ID' %></th>
					<th class="visible-lg visible-md visible-sm text center">Res.</th>
					<th class="visible-lg visible-md visible-sm text center">Res. type</th>
					<th class="visible-lg visible-md visible-sm text-center">Parent</th>
					<th class="">Navlabel</th>
					<th class="text-center">Aktiv</th>
					<th class="visible-lg visible-md visible-sm text-center">Redirect</th>
					<th class="visible-lg visible-md visible-sm text-center">Position</th>
					<th class="visible-lg visible-md visible-sm">Controller name</th>
					<th class="visible-lg visible-md visible-sm text-center">Category</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @contents.each do |content| %>
					<tr>
						<td class="visible-lg visible-md visible-sm text-center"><%= content.id %></td>
						<td class="visible-lg visible-md visible-sm text-center"><%= content.resource_id %></td>
						<td class="visible-lg visible-md visible-sm text-center"><%= content.resource_type %></td>
						<td class="visible-lg visible-md visible-sm text-center"><%= content.parent_id %></td>
						<td class=""><%= content.navlabel %></td>
						<td class="text-center">
							<% if content.active == true %>
								<%= link_to('+', content_active_path(content.id), {class: 'btn btn-xs btn-default activated'}) %>
							<% else %>
								<%= link_to('-', content_active_path(content.id), {class: 'btn btn-xs btn-default passified'}) %>
							<% end %>
						
							<%#= link_to content.active == true ? '√' : '–', content_active_path(content.id) %>
						</td>
						<td class="visible-lg visible-md visible-sm text-center">
							<% if content.redirect == true %>
								<%= link_to('+', content_redirect_path(content.id), {class: 'btn btn-xs btn-default activated'}) %>
							<% else %>
								<%= link_to('-', content_redirect_path(content.id), {class: 'btn btn-xs btn-default passified'}) %>
							<% end %>
							<%#= link_to content.redirect == true ? '√' : '–', content_redirect_path(content.id) %>
						</td>
						<td class="visible-lg visible-md visible-sm text-center"><%= content.position %></td>
						<td class="visible-lg visible-md visible-sm"><%= content.controller_name %></td>
						<td class="visible-lg visible-md visible-sm text-center"><%= link_to content.category, change_category_path(content.id) %></td>
						<td colspan="3" class="text-right">
							<div class="btn-group">
								<%#= link_to 'Vis', content, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_content_path(content), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', content, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<%#= link_to 'Ny Content', new_content_path %>


</div>