<div class="container">
	
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Navn:</strong>
		<%= @menu.name %>
	</p>

	<p>
		<strong>Titel:</strong>
		<%= @menu.title %>
	</p>

	<p>
		<strong>Aktiv:</strong>
		<%= @menu.active %>
	</p>


	<%= link_to 'Ret', edit_menu_path(@menu) %>
	<%= link_to 'Tilbage', menus_path %>

</div>