<div class="container">
	
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Name:</strong>
		<%= @menu.name %>
	</p>

	<p>
		<strong>Title:</strong>
		<%= @menu.title %>
	</p>

	<p>
		<strong>Active:</strong>
		<%= @menu.active %>
	</p>


	<%= link_to 'Ret', edit_menu_path(@menu) %>
	<%= link_to 'Tilbage', menus_path %>

</div>