<div class="container">

	<h1>Time registrering</h1>

	<div class="row">
		<div class="col-lg-4">
			<%= search_form_for @q do |f| %>
			<%= f.label :company, 'Firma' %> 
			<div class="input-group"> 
				<%= f.text_field :relation_company_cont, :size => 16, class: 'form-control' %>
				<span class="input-group-btn">   
					<%= f.submit "Søg", :class => 'btn btn-default' %>
				</span>
			</div>
			<%#= f.label :firma %>  
			<%#= f.text_field :relation_company_contains, :size => 16 %>   
			<%#= f.submit "[Søg]", :class => 'button' %>
			<% end %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-3">
			<div class="timer">
				<% @v_last_year_1 = Voucher.last_year_first_6_months(Time.now - 1.year).sum(:number) %>
				<% @v_last_year_2 = Voucher.last_year_last_6_months(Time.now - 1.year).sum(:number) %>
				<% @v_this_year_1 = Voucher.this_year_first_6_months(Time.now.to_date).sum(:number) %>
				<% @v_this_year_2 = Voucher.this_year_last_6_months(Time.now.to_date).sum(:number) %>
				<b>Købte timer ialt: <%= delimiter(Voucher.sum(:number)) %></b><br>
				<b>2 år tilbage ialt: <%= delimiter(@v_last_year_1 + @v_last_year_2 + @v_this_year_1 + @v_this_year_2) %></b><br><br>
				1. halvår <%= (Time.now - 1.year).year %> - <%= delimiter(@v_last_year_1) %><br>
				2. halvår <%= (Time.now - 1.year).year %> - <%= delimiter(@v_last_year_2) %><br>
				1. halvår <%= (Time.now).year %> - <%= delimiter(@v_this_year_1) %><br>
				2. halvår <%= (Time.now).year %> - <%= delimiter(@v_this_year_2) %><br>
			</div>
		</div>
		<div class="col-lg-3">
			<% @h_last_year_1 = Hour.last_year_first_6_months(Time.now - 1.year).sum(:number) %>
			<% @h_last_year_2 = Hour.last_year_last_6_months(Time.now - 1.year).sum(:number) %>
			<% @h_this_year_1 = Hour.this_year_first_6_months(Time.now.to_date).sum(:number) %>
			<% @h_this_year_2 = Hour.this_year_last_6_months(Time.now.to_date).sum(:number) %>
			<div class="timer">
				<b>Brugte timer ialt: <%= delimiter(Hour.sum(:number)) %></b><br>
				<b>2 år tilbage ialt: <%= delimiter(@h_last_year_1 + @h_last_year_2 + @h_this_year_1 + @h_this_year_2) %></b><br><br>
				1. halvår <%= (Time.now - 1.year).year %> - <%= delimiter(@h_last_year_1)%><br>
				2. halvår <%= (Time.now - 1.year).year %> - <%= delimiter(@h_last_year_2) %><br>
				1. halvår <%= (Time.now).year %> - <%= delimiter(@h_this_year_1) %><br>
				2. halvår <%= (Time.now).year %> - <%= delimiter(@h_this_year_2) %><br>
			</div>
		</div>
	</div>
	<br>
	<div class="btn-group">
		<%= link_to 'Ny registrering', new_hour_path, class: 'btn btn-default btn-xs' %><%= link_to 'Find alle', hours_path, class: 'btn btn-default btn-xs' %>
	</div>
	<br><br>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<!-- <th>ID</th> -->
				<th colspan=1 class='hours_headline' >Kunde</th>
				<th colspan=1 class='hours_calc right' >Købt/Brugt</th>
				<th colspan=1 class='hours_status right' >Status</th>
				<th class='center'></th>
			</tr>

			<% for hour in @hours %>

			<% @relation = Relation.find(hour.relation_id) %>
			<% @relation_id = hour.relation_id %>
		
			<% if @relation_id != @relation_id_previous %>

			<% @relation_id_previous = @relation_id %>
			<!-- <tr class='background-row'><td colspan=6></td></tr> -->
			<tr>
				<td colspan=1>
					<div id="voucher_customer">
						<%= link_to @relation.company, show_years_path(:relation_id => @relation_id, :q => params[:q]), :class => 'name'%>
					</div>
				</td>
				<td colspan=1 class="right">
					<div id="voucher_calc">
						<span id="voucher_text">
							(<%= delimiter(@relation.vouchers.sum(:number)) rescue nil %> 
							- <%= delimiter(@relation.hours.sum(:number)) rescue nil %>)
						</span>
					</div>
				</td>
				<td colspan=1 class="right">
					<div id="voucher_status">
						<span id="voucher_text">
							<% @result = @relation.vouchers.sum(:number) - @relation.hours.sum(:number) rescue nil %>
							<% if @result < 0 %>
							<span id='voucher_red'> <%= delimiter(@result) %></span> 
							<% else %>
							<span id='voucher_green'> <%= delimiter(@result) %></span> 
							<% end %>
						</span>
					</div>
				</td>
				<% if session[:show_years] == true %>
				<td class='center'>
					<div id="voucher_action">
						<%= link_to '[Skjul]', hide_years_path(:relation_id => session[:relation_id], :q => params[:q]) %>
					</div>
				</td>
			</tr>
			<% else %>
			<td class='center'>
				<div id="voucher_action">
					<%= link_to '[Vis]', show_years_path(:relation_id => @relation_id, :q => params[:q]) %>
				</div>
			</td>
		</tr>
		<% end %>
		<% end %>
		<%#= session[:relation_id] rescue nil %>
		<% if session[:show_years] == true %>
		<%= render :partial => "hours/partials/years_specified", :locals => {:hour => hour} %>
		<% end %>
		<% end %>
	</table>
</div>

</div>