<div class="container">

	<h2>Viser alle timer 
		<div class="btn-group">
			<%= link_to 'Ny time registrering', new_hour_path, class: 'btn btn-default btn-xs' %>
			<%= link_to 'Find alle', hours_path, class: 'btn btn-default btn-xs' %>
		</div>
	</h2>	
	
	<div class="row">
		<div class="col-lg-4">
			<%= search_form_for @q do |f| %>
			<%= f.label :partner_name_cont, "Navn indeholder" %>
			<div class="input-group">
				<%= f.text_field :partner_name_cont, size: 16, class: 'form-control' %>
				<span class="input-group-btn">
					<%= f.submit "Søg", :class => 'btn btn-default'  %>
				</span>
			</div>
		</div>
		<div class="col-lg-4">
			<%= f.label :description_cont, "Beskrivelse indeholder" %>
			<div class="input-group">
				<%= f.text_field :description_cont, size: 16, class: 'form-control' %>
				<span class="input-group-btn">
					<%= f.submit "Søg", :class => 'btn btn-default'  %>
				</span>
			</div>
			<% end %>
		</div>
	</div>	
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="visible-lg text-left">Af</th>
					<th class="text-left"><%= sort_link @q, :partner_name, 'Firma'%></th>
					<th class="text-left">Beskrivelse</th>
					<th class="text-center">Antal</th>
					<th class="text-center">Date</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @hours.each do |hour| %>
					<tr>
						<td class="visible-lg text-left"><%= User.find(hour.user_id).blogname rescue nil %></td>
						<td class="text-left visible-lg visible-md"><%= truncate(Partner.find(hour.partner_id).name, length: 20) rescue nil %></td>
						<td class="text-left visible-sm visible-xs"><%= truncate(Partner.find(hour.partner_id).name, length: 10) rescue nil %></td>
						<td class="visible-lg"><%= truncate(hour.description, length: 60) %></td>
						<td class="visible-md visible-sm visible-xs"><%= truncate(hour.description, length: 10) %></td>
						<td class="text-center"><%= hour.number %></td>
						<td class="text-center visible-lg visible-md"><%= l hour.date, format: :nice %></td>
						<td class="text-center visible-sm visible-xs"><%= l hour.date, format: :compact %></td>
						<td colspan=2 class="right">
							<div class="btn-group">
								<%#= link_to 'Vis', hour, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_hour_path(hour), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', hour, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>