<div class="container">

	<h1>Viser timer</h1>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="visible-lg left">Af</th>
					<th class="visible-lg left">Firma</th>
					<th class="visible-lg">Beskrivelse</th>
					<th class="visible-lg center">Antal</th>
					<th class="visible-lg center">Date</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @hours.each do |hour| %>
					<tr>
						<td class="visible-lg left"><%= User.find(hour.user_id).blogname %></td>
						<td class="visible-lg left"><%= truncate(Relation.find(hour.relation_id).company, length: 20) %></td>
						<td class="visible-lg"><%= truncate(hour.description, length: 60) %></td>
						<td class="visible-lg center"><%= hour.number %></td>
						<td class="visible-lg center"><%= l hour.date, format: :nice %></td>
						<td colspan="3" class="right">
							<div class="btn-group">
								<%= link_to 'Vis', hour, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_hour_path(hour), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', hour, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br>
	
	<%= link_to 'Ny Hour', new_hour_path %>

</div>