<%= form_for(@relation, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
<% if @relation.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@relation.errors.count, "error") %> forhindrede denne relation fra at blive vist:</h2>
	<ul>
		<% @relation.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label (t :company), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :company, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :address), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :address, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :postno), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :postno, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :city), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :city, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :log, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_area :log, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :category), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :category, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :responsible), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :responsible, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :phone), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_area :phone, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :next_action), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.datetime_select :next_action, class: 'form-control' %>
	</div>
</div>
<!-- <div class="form-group">
    <%= f.label :lock_version, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">    
        <%= f.number_field :lock_version, class: 'form-control' %>
    </div>
</div>
<div class="form-group">
    <%= f.label (t :user_id), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">    
        <%= f.number_field :user_id, class: 'form-control' %>
    </div>
</div>
<div class="form-group">
    <%= f.label (t :type), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">    
        <%= f.text_field :type, class: 'form-control' %>
    </div>
</div>
<div class="form-group">
    <%= f.label :search_lock, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">    
        <%= f.number_field :search_lock, class: 'form-control' %>
    </div>
</div> -->
<div class="form-group">
	<%= f.label :homepage, (t :homepage).upcase, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :homepage, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label (t :email), class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :email, class: 'form-control' %>
	</div>
</div>

<div class='form-group'>
	<div class="actions col-sm-offset-2 col-sm-10">
		<%= f.submit('Opdater', class: 'btn btn-info btn-xs') %>
	</div>
</div>
<% end %>