<div class="container">
	
    <p id="notice"><%= notice %></p>

        <p>
        <strong>Company:</strong>
        <%= @relation.company %>
    </p>

        <p>
        <strong>Address:</strong>
        <%= @relation.address %>
    </p>

        <p>
        <strong>Postno:</strong>
        <%= @relation.postno %>
    </p>

        <p>
        <strong>City:</strong>
        <%= @relation.city %>
    </p>

        <p>
        <strong>Log:</strong>
        <%= @relation.log %>
    </p>

        <p>
        <strong>Category:</strong>
        <%= @relation.category %>
    </p>

        <p>
        <strong>Responsible:</strong>
        <%= @relation.responsible %>
    </p>

        <p>
        <strong>Phone:</strong>
        <%= @relation.phone %>
    </p>

        <p>
        <strong>Next action:</strong>
        <%= @relation.next_action %>
    </p>

        <p>
        <strong>Lock version:</strong>
        <%= @relation.lock_version %>
    </p>

        <p>
        <strong>User:</strong>
        <%= @relation.user_id %>
    </p>

        <p>
        <strong>Type:</strong>
        <%= @relation.type %>
    </p>

        <p>
        <strong>Search lock:</strong>
        <%= @relation.search_lock %>
    </p>

        <p>
        <strong>Homepage:</strong>
        <%= @relation.homepage %>
    </p>

        <p>
        <strong>Email:</strong>
        <%= @relation.email %>
    </p>

    
    <div class="btn-group">
        <%= link_to 'Ret', edit_relation_path(@relation), class: 'btn btn-default btn-xs'%>
        <%= link_to 'Tilbage', relations_path, class: 'btn btn-default btn-xs' %>
    </div>
</div>