<div class="container">

	<h1>
		Viser attachments
		<div class="btn-group index">
			<%= link_to 'Ny Attachment', new_attachment_path, class: 'btn btn-default btn-xs' %>
		</div>
	</h1>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="visible-lg">Type</th>
					<th class="visible-lg">Indlægsnr.</th>
					<th class="visible-lg">Beskrivelse</th>
					<th class="visible-lg">Størrelse</th>
					<th class="visible-lg">Position</th>
					<th class="visible-lg">ID</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @attachments.each do |attachment| %>
					<tr>
						<td class="visible-lg"><%= attachment.attachable_type %></td>
						<td class="visible-lg"><%= attachment.attachable_id %></td>
						<td class="visible-lg"><%= attachment.description %></td>
						<td class="visible-lg"><%= attachment.image_size %></td>
						<td class="visible-lg"><%= attachment.position %></td>
						<td class="visible-lg"><%= attachment.asset_id %></td>
						<td colspan="3" class="text-right">
							<div class="btn-group">
								<%#= link_to 'Vis', attachment, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_attachment_path(attachment), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', attachment, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>