<div class="container">
	<h1>Viser <%= t :pages %></h1>
	<div class="btn-group index">
		<%= link_to 'Ny indholdsside', new_page_path, class: 'btn btn-default btn-xs' %>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="visible-lg visible-md visible-sm visible-xs">Navn</th>
					<th class="visible-lg visible-md visible-sm">Titel</th>
					<th class="visible-lg visible-md">Indhold</th>
					<th class="visible-lg visible-md">Overskrift</th>
					<th class="visible-lg visible-md center visible-sm visible-xs">Aktiv</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% @pages.each do |page| %>
					<tr>
						<td class="visible-lg visible-md visible-sm visible-xs"><%= page.name %></td>
						<td class="visible-lg visible-md visible-sm"><%= page.title %></td>
						<td class="visible-lg visible-md"><%= truncate(page.body, length: 50) %></td>
						<td class="visible-lg visible-md"><%= page.headline %></td>
						<td class="visible-lg visible-md visible-sm visible-xs center">
							<% if page.active == true %>
								<%= link_to('+', page_active_path(page.id), {class: 'btn btn-xs btn-default activated'}) %>
							<% else %>
								<%= link_to('-', page_active_path(page.id), {class: 'btn btn-xs btn-default passified'}) %>
							<% end %>
						</td>
						<td colspan="3" class="text-right">
							<div class="btn-group">
								<%#= link_to 'Vis', page, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_page_path(page), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', page, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>