<%= form_for(@contact, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
<% if @contact.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@contact.errors.count, "error") %> forhindrede denne contact fra at blive vist:</h2>
	<ul>
		<% @contact.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :navn, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :name, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :address, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :address, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :postno, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :postno, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :city, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :city, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :log, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_area :log, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :beskrivelse, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :description, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :log, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_area :log, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :phone, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :phone, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :email, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.text_field :email, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :partner_id, class: 'col-sm-2 control-label' %>
	<div class="col-sm-10">	
		<%= f.number_field :partner_id, class: 'form-control' %>
	</div>
</div>

<div class='form-group'>
	<div class="actions col-sm-offset-2 col-sm-10">
		<%= f.submit('Opdater', class: 'btn btn-info btn-xs') %>
	</div>
</div>
<% end %>