<div class="container">

	<h1>Viser preferences</h1>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="visible-lg">Name</th>
					<th class="visible-lg">Value</th>
					<th class="visible-lg">User</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @preferences.each do |preference| %>
					<tr>
						<td class="visible-lg"><%= preference.name %></td>
						<td class="visible-lg"><%= preference.value %></td>
						<td class="visible-lg"><%= preference.user_id %></td>
						<td colspan="3" class="right">
							<div class="btn-group">
								<%= link_to 'Vis', preference, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_preference_path(preference), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', preference, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br>
	
	<%= link_to 'Ny Preference', new_preference_path %>

</div>