<div class='container'>
	<div class='table-responsive'>

		<h1>Liste over uploadede filer</h1>
		
		<div class='btn-group'>
			 <%= link_to 'Ny upload', new_asset_path, class: 'btn btn-default btn-xs' %>
		</div>
		<br><br>
		<%= form_tag edit_multiple_assets_path do %>
		<table class='table table-striped table-hover'>
			<tr>
				<th class='text-left'>ID</th>
				<th class='text-left'>Navn</th>
				<th class='text-left'>Beskrivelse</th>
				<th class='text-left'>Foto tekst</th>
				<th class='text-left'>Type</th>
				<th class='text-right'>Kb</th>
				<th class='text-left'>Opdat.</th>
				<th class='text-left'>Opdat.</th>
				<th class='col-sm-1 text-center'>Foto</th>
				<th class='text-right' width='105px'>Handling</th>
			</tr>

			<% for asset in @assets %>
			<% @thumb =  asset.photo.url(:thumb) %>
			<% @image_show = asset.photo.url(:original)%>
			<% @title = asset.description + ' (ID - ' + asset.id.to_s + ')' %>
			<tr>
				<td class='text-left'><%= asset.id %></td>
				<td class='text-left'><%= User.find(asset.user_id).blogname rescue nil %></td>
				<td class='text-left'><%= truncate(asset.description, length: 25) %></td>
				<td class='text-left'><%= asset.caption %></td>
				<td><%= asset.photo_content_type %></td>
				<td class='text-right'><%= number_with_precision(asset.photo_file_size / 1000, precision: 0) rescue nil %></td>
				<td><%= nice_date(asset.updated_at) rescue nil %></td>
				<td><%= nice_date(asset.photo_updated_at) rescue nil %></td>
				<!-- <td><%#= link_to image_tag(@image), asset, :class => 'thumb'%></td> -->
				<td class='thumb text-center' width='20px'><%= link_to image_tag(@thumb,{class: 'img-thumbnail', width: '30px' }), @image_show, {class: 'fancybox-button', rel: 'gallery', title: @title}%></td>
				<td colspan='3' class='text-right'>
					<div class='btn-group'>
						<%#= link_to 'Vis', asset, class: 'btn btn-default btn-xs' %>
						<%= link_to 'Ret', edit_asset_path(asset), class: 'btn btn-default btn-xs' %>
						<%= link_to 'Slet', asset, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
					</div>
				</td>
    
			</tr>
			<% end %>
		</table>


		<% end %>
		<br />


	</div>
</div>


<% content_for :javascript do %>

<script>
$(document).ready(function() {
	$('.fancybox-button').fancybox({
		prevEffect		: 'none',
		nextEffect		: 'none',
		closeBtn		: false,
		helpers		: {
			title	: { type : 'inside' },
			buttons	: {}
		}
	});
});
</script>

<% end %>