<div class="container">
	<h1>Viser <%= t :posts %></h1>
	<div class="btn-group index">
		<%= link_to 'Nyt indlæg', new_post_path, class: 'btn btn-default btn-xs' %>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th><%= sort_link(@q, :title, "Titel") %></th>
					<th class="visible-lg visible-md visible-sm">Indhold</th>
					<th class="text-center visible-lg visible-md visible-sm">Forfatter</th>
					<th class="text-center visible-lg visible-md visible-sm"><%= sort_link(@q, :updated_at, "Ændret") %></th>
					<th class="text-center visible-lg visible-md visible-sm">Prioritet</th>
					<th class="text-center">Aktiv</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
					<tr>
						<td><%= truncate(post.title, length: 20) %></td>
						<td class="visible-lg visible-md visible-sm"><%= truncate(post.body, length: 30) %></td>
						<td class="text-center visible-lg visible-md visible-sm"><%= User.find(post.user_id).blogname rescue nil %></td>
						<td class="text-center visible-lg visible-md visible-sm"><%= nice_timestamp(post.updated_at) %></td>
						<td class="text-center visible-lg visible-md visible-sm"><%= post.priority %></td>
						<td class="text-center">
							<% if post.active == true %>
								<%= link_to('+', post_active_path(post.id), {class: 'btn btn-xs btn-default activated'}) %>
								<%#= link_to post.active == true ? '√' : '–', post_active_path(post.id) %>
							<% else %>
								<%= link_to('-', post_active_path(post.id), {class: 'btn btn-xs btn-default passified'}) %>
							<% end %>
						</td>
						<td colspan="3" class="text-right">
							<div class="btn-group">
								<%#= link_to 'Vis', post, class: 'btn btn-default btn-xs' %>
								<%= link_to 'Ret', edit_post_path(post), class: 'btn btn-default btn-xs' %>
								<%= link_to 'Slet', post, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-default btn-xs' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>