<div class="container">
	
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Titel:</strong>
		<%= @post.title %>
	</p>

	<p>
		<strong>Brødtekst:</strong>
		<%= @post.body %>
	</p>
	<p>
		<strong>Position:</strong>
		<%= @post.position %>
	</p>

	<p>
		<strong>Parent:</strong>
		<%= @post.parent_id %>
	</p>

	<p>
		<strong>User:</strong>
		<%= @post.user_id %>
	</p>

	<p>
		<strong>Aktiv:</strong>
		<%= @post.active %>
	</p>


	<%= link_to 'Ret', edit_post_path(@post) %>
	<%= link_to 'Tilbage', posts_path %>

</div>